* {
    box-sizing: content-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6rem;
}

/* Common */
.content {
    max-width: calc(100% - 48px);
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 15px;
    line-height: 50px;
    border-radius: 25px;
    text-align: center;
    background: #171100;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -26px;
    left: 0;
    z-index: 1;
}

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 36px 0px 10px;
}

.navbar .menu_items {
    margin-left: auto;
    display: flex;
}

.navbar .menu_link {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 42px;
    position: relative;
}

.navbar .active,
.navbar .menu_link:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.navbar .active::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    left: 0;
    bottom: -2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .btn_signup {
    margin-left: 70px;
    min-width: 114px;
}
