* {
    box-sizing: border-box;
}

:root {
    --background-color: #fffcf4;
    --primary_color: #ffb900;
    --font-heading: Sen, sans-serif;
    --course_background_color: #fff9e8;
    --line-clamp: 1;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.6rem;
}

/* Common */
.content {
    max-width: calc(100% - 48px);
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 15px;
    line-height: 50px;
    border: 0px;
    border-radius: 25px;
    text-align: center;
    background: #171100;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    line-height: 6.8rem; /* 117.241% */
    letter-spacing: -0.116rem;
}

.heading.lv1 {
    font-size: 5.8rem;
    font-weight: 700;
}

.heading.lv2 {
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 4.8rem;
}

.desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.line_clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    word-break: break-all;
}

/* Header */
.header {
    background: var(--background-color);
}

.header.fixed {
    position: sticky;
    top: -26px;
    left: 0;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 36px 0px 10px;
}

.navbar .menu_items {
    margin-left: auto;
    display: flex;
}

.navbar .menu_link {
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 42px;
    position: relative;
}

.navbar .active,
.navbar .menu_link:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.navbar .active::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    left: 0;
    bottom: -2px;
    border-radius: 1px;
    background: #171100;
}

.navbar .btn_signup {
    margin-left: 70px;
    min-width: 144px;
}

/* Hero */
.hero {
    background: var(--background-color);
    padding: 54px 0 65px;
}

.hero .body {
    display: flex;
}

.hero .hero_media {
    position: relative;
    width: 48%;
}

.hero_media .img {
    width: 470px;
    height: 685px;
    object-position: -448.75px 0px;
    background-color: lightgray;
    border-radius: 20px;
    object-fit: cover;
    vertical-align: bottom;
}

.hero_media .hero_summary {
    position: absolute;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 24px;
    bottom: 43px;
    right: 0px;
}

.hero_summary .course_info {
    display: flex;
    align-items: center;
    padding-right: 34px;
}

.hero_summary .course_info + .course_info {
    margin-top: 14px;
}

.course_info .icon {
    background-color: var(--course_background_color);
    border-radius: 50%;
    display: flex;
    padding: 12px;
}

.course_info .info {
    margin-left: 16px;
}

.course_info .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
}

.hero .hero_content {
    width: 52%;
    padding-left: 130px;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.hero_content .desc {
    margin-top: 22px;
}

.hero_content .cta-group {
    display: flex;
    margin-top: 38px;
}

.hero_content .btn_see_course {
    background: var(--primary_color);
    width: 180px;
    line-height: 64px;
    color: #fff;
}

.hero_content .btn_watch_video {
    background-color: transparent;
    min-width: 180px;
    margin-left: 28px;
    display: flex;
    align-items: center;
}

.hero .btn_watch_video .icon {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .btn_watch_video span {
    color: #171100;
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.hero .hero_content .stats {
    margin-top: 48px;
}

.hero .stats .title {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero .stats .info {
    margin-top: 8px;
}

.hero .stats .value {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    padding: 0px 8px 0px 28px;
}

.hero .stats .stats_item:first-child .value {
    padding-left: 0px;
}

.hero .stats .label {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Popular */
.popular {
    background: #fff;
    padding: 200px 0;
}

.popular .popular_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular > .desc {
    width: 458px;
}

.popular .cta_group {
    display: flex;
    gap: 18px;
}

.popular .btn_move {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary_color);
    border-radius: 50%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary_color);
}

.popular .btn_move:hover {
    background-color: var(--primary_color);
    color: white;
}

.popular .courses {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.courses .item {
    flex-basis: calc(100% / 3);
    border-radius: 12px;
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .info {
    padding: 16px 22px 32px;
}

.courses .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
}

.courses .row {
    justify-content: space-between;
    align-items: center;
}

.courses .title a {
    color: #171100;
    font-size: 1.8rem;
    padding-right: 6px;
    font-weight: 600;
    line-height: 3rem; /* 166.667% */
}

.courses .rating {
    display: flex;
    align-items: center;
    gap: 6px;
}

.rating .value {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
}

.courses .desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem; /* 185.714% */
    margin-top: 6px;
}

.courses .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.foot .amount {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.foot .btn_book:hover {
    background-color: var(--primary_color);
}

/* Feedback */
.feedback {
    background: #2e2100;
}

.feedback .body {
    padding: 96px 0;
}

.feedback .feedback_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feedback .info {
    flex-basis: 34%;
    padding-right: 20px;
}

.feedback_item .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.feedback_item .name {
    color: #f7f7f7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.4rem; /* 141.667% */
}

.feedback .desc {
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 2.6rem;
}

.feedback .feedback_content {
    flex-basis: 66%;
}

.feedback_content .open_quotes {
    width: 30px;
    height: 28px;
}

.feedback_content .quotes {
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    margin-left: 30px;
    line-height: 4rem; /* 153.846% */
}

.feedback .indicator {
    display: flex;
    align-items: center;
    gap: 6px;
}

.indicator .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #634700;
}

.indicator .dot.active {
    background-color: #ffb900;
}
